/*
!/.github/
!/.idea/
/.idea/*
!/.idea/runConfigurations/
!/gradle/
!/src/
!/lib/
!/.gitignore
!/build.gradle.kts
!/gradlew*
!/CHANGELOG*.md
!/LICENSE.md
!/README*.md
!/settings.gradle.kts
!/intellij-java-google-style.xml
!/.travis.yml
!/gradle.properties
